* {
 	font-family: 'Stylish', sans-serif;
 }

 .popular-post-slider{
 	height: 400px;
 }

 .sidebar{
 	background-color: #FF6347;
 	padding: 40px;
 	color: white;
 	margin: 10px;
 	border: solid 10px #FFA07A;
 }

 .sidebar .text-sidebar{
 	padding: 10px 0 10px 0;
 }

 .sidebar .text-sidebar-title{
 	font-size: 25px;
 }

 .sidebar .text-sidebar > a {
 	font-size: 20px;
 }


 .sidebar ul{
 	list-style: none;
 	list-style-type: none;
 	padding: 0;
 }


 .sidebar ul a{
 	color: white;
 }

 .sidebar ul a:hover {
    color: #fcff00;
    text-decoration: none;
 }

.banner {
	background-image: url(../img/antinous.jpeg);
	height: 700px;
}

.text-banners {
	margin-top: 150px;
	margin-bottom: 150px;
}

.text-banner-title, .article-title {
   font-weight: bold;
   font-size: 32px;
}

.article {
	margin: 30px;
	text-align: justify;
	padding: 20px;
}

.link-article{
	color: #FF6347;
}

.link-article:hover{
	color: #FFA07A;
	text-decoration: none;
}

.articles {
   margin-top: 150px;
   margin-bottom: 150px;
}

.link-primary{
	background-color: #FFA07A;
	padding: 8px;
	color: white;
	font-weight: bold;
}

.link-primary:hover {
	color:  #fcff00;
	text-decoration: none;
}

.footer {
	min-height: 150px;
	background-size: cover;
	background-color: black;
	padding: 30px;
	color: white;
}

.footer .widget ul {
	list-style: none;
	list-style-type: none;
	padding: 0;
}

.footer .widget h6{
	font-size: 25px;
}

.footer .widget > a{
    font-size: 20px;
}

.footer .widget ul li{
	margin-left: 0;
}

.footer .widget ul li a{
	color: white;
}

.footer .widget ul li a{
	color: white;
	text-decoration: none;
}

.footer .copyright {
	margin-top: 50px;
	height: 25px;
	text-align: center;
}

