* {
 	font-family: 'Stylish', sans-serif;
 }

 .popular-post-slider{
 	height: 400px;
 }

 .sidebar{
 	background-color: #FF6347;
 	padding: 40px;
 	color: white;
 	margin: 10px;
 	border: solid 10px #FFA07A;
 	text-align: justify;
 }

 .sidebar .text-sidebar{
 	padding: 10px 0 10px 0;
 }

 .sidebar .text-sidebar-title{
 	font-size: 25px;
 }

 .sidebar .text-sidebar > a {
 	font-size: 20px;
 }


 .sidebar ul{
 	list-style: none;
 	list-style-type: none;
 	padding: 0;
 }


 .sidebar ul a{
 	color: white;
 }

 .sidebar ul a:hover {
    color: #fcff00;
    text-decoration: none;
 }

.banner {
	background-image: url(../img/antinous.jpeg);
	height: 700px;
}

.text-banners {
	margin-top: 150px;
	margin-bottom: 150px;
}

.text-banner-title, .article-title {
   font-weight: bold;
   font-size: 32px;
}

.article {
	margin: 30px;
	text-align: justify;
	padding: 20px;
}

.link-article{
	color: #FF6347;
}

.link-article:hover{
	color: #FFA07A;
	text-decoration: none;
}

.articles {
   margin-top: 150px;
   margin-bottom: 150px;
}

.article > p{
	margin-bottom: 0;
}

ul.post-categories{
	list-style: none;
	list-style-type: none;
	padding: 0;
	display: inline;
	margin-top: 0;
}

ul.post-categories li{
	margin-top: 0;
	display: inline;
}

.link-primary{
	background-color: #FFA07A;
	padding: 8px;
	margin: 3px;
	color: white;
	font-weight: bold;
}

.link-primary:hover {
	color:  #fcff00;
	text-decoration: none;
}

.calendar_wrap {
	background-color: #77DD77;
	width: 230px;
	padding: 16px;
}

.wp-calendar-table{
	border-spacing: 2px;
	border-collapse: separate;
}

.wp-calendar-table th{
     background-color: #FF6347;
     margin-left: 20px;
     border-radius: 50%;
     padding: 7px;
     text-align: center;
}

.wp-calendar-table td{
     background-color: #FF6347;
     margin-left: 20px;
     border-radius: 50%;
     padding: 2px;
     text-align: center;
}

.wp-calendar-table td a{
	color:  #fcff00;
}

.wp-calendar-table td a:hover{
	text-decoration: none;
}

.wp-calendar-table td.pad{
	background-color: transparent;
}

.wp-calendar-table caption{
	color: white;
	font-weight: bold;
}

.footer {
	min-height: 150px;
	background-size: cover;
	background-color: black;
	padding: 30px;
	color: white;
}


.footer .widget ul {
	list-style: none;
	list-style-type: none;
	padding: 0;
}

.footer .widget h6{
	font-size: 25px;
}

.footer .widget > a{
    font-size: 20px;
}

.footer .widget ul li{
	margin-left: 0;
}

.footer .widget ul li a{
	color: white;
}

.footer .widget ul li a:hover{
	color: #fcff00;
	text-decoration: none;
}

.footer .copyright {
	margin-top: 50px;
	height: 25px;
	text-align: center;
}

.search-field {
	margin-bottom: 15px;
	border: none;
	height: 35px;
}

.search-field:hover {
	border: none;
}

.search-field:focus{
	box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

 .tagcloud a.tag-cloud-link{
 	color: white;
 }

 .tagcloud a.tag-cloud-link:hover{
    color: #fcff00;
 	text-decoration: none;
 }

 .sidebar .gallery{
 	max-width: 100%;
 }

 .sidebar .gallery .gallery-item  img{
 	width: 100px;
 	height: auto;
 }

 .sidebar .gallery .gallery-item dd{
 	font-size: 8px;
 	text-align: center;
 	padding: 6px;
 }

 .widget .gallery .gallery-item  img{
 	width: 100px;
 	height: auto;
 }

 .widget .gallery .gallery-item dd{
 	font-size: 8px;
 	text-align: center;
 	padding: 6px;
 }




